[submodule "opal"]
	path = opal
	url = git@github.com:sampsyo/opal.git
	branch = distributed
[submodule "opal-transformer"]
	path = opal-transformer
	url = 9a8d859c69964091e3080af8becccebc7d88e0af@github.com:alexrenda/opal-transformer.git
